/* Dropdown menu */
.dropdown-menu {
    border: none;
    border-radius: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #f9f9f9;
}
.dropdown-menu li a, .dropdown-menu li a:hover {
    color: #555;
}

/* Carousel */
.carousel-control {
    text-shadow: inherit;
}
.carousel-control.left, .carousel-control.right {
    background: transparent;
}

.avatar, .qutong-name h1 {
    margin: 0 auto 30px;
}

.avatar img {
    width: 240px;
}

.qutong-name h1 {
    font-weight: 400;
}