body {
    /*padding-top: 70px;*/
}

.bs-docs-header h1, .bs-docs-header p {
    margin-right: 0;
}

.bs-docs-header h1 span {
    font-weight: normal;
    color: #94d0ff;
}

.bs-docs-footer .teelab-logo {
    margin-bottom: 5px;
}

.bs-docs-footer .teelab-logo img {
    width: 90px;
}