---
layout: default
---

<div class="ui main vertical segment">
    <div class="ui internally celled stackable grid container">
        <div class="row">
            <div class="four wide column">
                {% include status.html %}
                {% include following_menu.html %}
            </div>
            <div class="twelve wide column">
                {% include summary.html %}
                {% include education.html %}
                {% include experience.html %}
                {% include projects.html %}
                {% include courses.html %}
                {% include awards.html %}
                {% include publications.html %}
                {% include patents.html %}
                {% include languages.html %}
                {% include skills.html %}
                {% include additional_info.html %}
            </div>
        </div>
    </div>
</div>