<div id="additional-info" class="ui cv-section basic vertical segment">
    <h1 class="ui dividing header"><i class="infinity icon"></i>Additional Info</h1>
    <h3 class="ui header">Hobbies</h3>
    <div class="ui labels">
        {%- for hobby in site.data.cv.additional_info.hobbies -%}
            {%- if hobby.link -%}
                <a class="ui grey label" href="{{ hobby.link }}" target="_blank"{% if hobby.tooltip %} data-tooltip="{{ hobby.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}>{% if hobby.icon %}<i class="{{ hobby.icon }} icon"></i>{% endif %}{{ hobby.name }}</a>
            {%- else -%}
                <div class="ui label"{% if hobby.tooltip %} data-tooltip="{{ hobby.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}>{% if hobby.icon %}<i class="{{ hobby.icon }} icon"></i>{% endif %}{{ hobby.name }}</div>
            {%- endif -%}
        {%- endfor -%}
    </div>
    <h3 class="ui header">Advice for Contacting {{ site.data.cv.status.first_name }}</h3>
    <div>Please contact {{ site.data.cv.status.first_name }} for:</div>
    <div class="ui bulleted list">
        {% for entry in site.data.cv.additional_info.contact_advice %}<div class="item">{{ entry }}</div>{% endfor %}
    </div>
</div>