<div class="ui sticky">
    <div id="basic-info" class="ui vertical segment">
        <img class="ui centered medium rounded image" src="{{ site.data.cv.basic_info.avatar }}" alt="Avatar">
        <h1 class="ui header">
            <div class="content">
                {{ site.data.cv.basic_info.name }}
                <div class="sub header">{{ site.data.cv.basic_info.position }}</div>
            </div>
        </h1>
        <div><i class="marker icon"></i>{{ site.data.cv.basic_info.location }}</div>
        <div><i class="rocket icon"></i>{{ site.data.cv.basic_info.specialty }}</div>
    </div>
    <div class="ui vertical segment">
        <div><i class="industry icon"></i>{{ site.data.cv.basic_info.employer }}</div>
        <div><i class="university icon"></i>{{ site.data.cv.basic_info.education }}</div>
    </div>
    <div class="ui vertical segment">
        <div><i class="send icon"></i>{{ site.data.cv.basic_info.email }}</div>
    </div>
    <div class="ui vertical segment">
        <div><i class="refresh icon loading"></i>Updated <span id="version">? time ago</span></div>
    </div>
</div>