<div id="courses" class="ui cv-section basic vertical segment">
    <h1 class="ui dividing header"><i class="book icon"></i>Courses</h1>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.education -%}
            {%- if entry.courses -%}
                <div id="{{ entry.id }}-courses" class="item">
                    <div class="content">
                        <div class="header">{{ entry.institution }}</div>
                        <div class="meta">{{ entry.courses.size }} major courses</div>
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for course in entry.courses %}<div class="item">{{ course.name }}{% if course.code %} <span class="ui grey text">({{ course.code }})</span>{% endif %}</div>{% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
</div>