<div id="education" class="ui cv-section basic vertical segment">
    <h1 class="ui dividing header"><i class="student icon"></i>Education</h1>
    <div class="ui relaxed items">
        {% for entry in site.data.cv.education %}
            <div class="item">
                <div class="content">
                    <div class="header">{{ entry.institution }}</div>
                    <div class="meta">{{ entry.degree }} &middot; GPA: {{ entry.gpa }}</div>
                    <div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
                    <div class="description">
                        <div class="ui bulleted list">
                            {% if entry.details %}{% for detail in entry.details %}<div class="item">{{ detail }}</div>{% endfor %}{% endif %}
                            {% if entry.coursework_projects %}<a class="item" href="{{ '/' | relative_url }}#{{ entry.id }}-coursework-projects">{{ entry.coursework_projects.size }} coursework projects</a>{% endif %}
                            {% if entry.courses %}<a class="item" href="{{ '/' | relative_url }}#{{ entry.id }}-courses">{{ entry.courses.size }} major courses</a>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>