<div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
{%- if entry.details -%}
    <div class="description">
        <div class="ui bulleted list">
            {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="left-margined {{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
        </div>
    </div>
{%- endif -%}