<div id="experience" class="ui cv-section basic vertical segment">
    <h1 class="ui dividing header"><i class="business time icon"></i>Experience</h1>
    <h2 class="ui teal sub-section header">Vocational</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.vocational -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.employer }}</div>
                    <div class="meta">{{ entry.position }}</div>
                    <div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
                    {%- if entry.details -%}
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Research Internship</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.research -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.institution }} &middot; <span class="ui grey text text-normal">{{ entry.department }}</span></div>
                    <div class="meta">{{ entry.position }}{% if entry.advisor %} &middot; Supervised by: {{ entry.advisor }}{% endif %}</div>
                    <div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
                    {%- if entry.details -%}
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Part-Time</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.part_time -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.employer }}</div>
                    <div class="meta">{{ entry.position }}</div>
                    <div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
                    {%- if entry.details -%}
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Exchange Experience</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.exchange -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.institution }}</div>
                    <div class="meta">{{ entry.department }}</div>
                    <div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
                    {%- if entry.details -%}
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">University Service</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.university_service -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.position }}</div>
                    <div class="meta">{{ entry.university }}</div>
                    <div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
                    {%- if entry.details -%}
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Volunteer Experience</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.volunteer -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.position }}</div>
                    <div class="meta">{{ entry.employer }}</div>
                    <div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
                    {%- if entry.details -%}
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>