<div id="experience" class="ui cv-section basic vertical segment">
    <h1 class="ui dividing header"><i class="business time icon"></i>Experience</h1>
    <h2 class="ui teal sub-section header">Vocational</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.vocational -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.employer }}</div>
                    <div class="meta">{{ entry.position }}</div>
                    {% include entry_time_location_details.html %}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Research Internship</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.research -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.institution }} &middot; <span class="ui grey text text-normal">{{ entry.department }}</span></div>
                    <div class="meta">{{ entry.position }}{% if entry.advisor %} &middot; Supervised by: {{ entry.advisor }}{% endif %}</div>
                    {% include entry_time_location_details.html %}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Part-Time</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.part_time -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.employer }}</div>
                    <div class="meta">{{ entry.position }}</div>
                    {% include entry_time_location_details.html %}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Exchange Experience</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.exchange -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.institution }}</div>
                    <div class="meta">{{ entry.department }}</div>
                    {% include entry_time_location_details.html %}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">University Service</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.university_service -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.position }}</div>
                    <div class="meta">{{ entry.university }}</div>
                    {% include entry_time_location_details.html %}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Volunteer Experience</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.experience.volunteer -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.position }}</div>
                    <div class="meta">{{ entry.employer }}</div>
                    {% include entry_time_location_details.html %}
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>