<div class="ui fixed borderless menu">
    <div class="ui container">
        <div class="toc link item"><i class="sidebar icon"></i>Menu</div>
        <a class="header item" href="{{ '/' | relative_url }}">{{ site.alias }}</a>
        <div class="ui dropdown item">
            <i class="id card outline icon"></i>Curriculum Vit&aelig;<i class="dropdown icon"></i>
            <div class="menu">
                {% include menu_items.html %}
            </div>
        </div>
        <div class="right menu">
            <a class="item" href="https://www.linkedin.com/in/qutong/" target="_blank"><i class="linkedin square icon"></i>LinkedIn</a>
        </div>
    </div>
</div>