<div id="languages" class="ui cv-section basic vertical segment">
    <h1 class="ui dividing header"><i class="translate icon"></i>Languages</h1>
    <div class="ui equal width stackable grid">
        {% for language in site.data.cv.languages %}
            <div class="column">
                <h3 class="ui header">
                    <div class="content">
                        <i class="{{ language.flag }} flag"></i>{{ language.name }}
                        <div class="sub header">{{ language.level }}</div>
                    </div>
                </h3>
                {% if language.certificates %}
                <div class="ui labels">
                    {% for certificate in language.certificates %}<div class="ui label"><i class="certificate icon"></i>{{ certificate }}</div>{% endfor %}
                </div>
                {% endif %}
                {% if language.remark %}<div>{{ language.remark }}</div>{% endif %}
            </div>
        {% endfor %}
    </div>
</div>