<div id="patents" class="ui cv-section basic vertical segment">
    <h1 class="ui dividing header"><i class="balance scale icon"></i>Patents</h1>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.patents -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.name }}</div>
                    <div class="meta">Invented by: {% for author in entry.inventors %}{% unless forloop.first %} &middot; {% endunless %}{{ author }}{% endfor %}</div>
                    <div class="extra">{{ entry.number }} &middot; Filed on {{ entry.time }}</div>
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>