<div id="projects" class="ui cv-section basic vertical segment">
    <h1 class="ui dividing header"><i class="rocket icon"></i>Projects</h1>
    <h2 class="ui teal sub-section header">Open Source Projects</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.projects.open_source -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header"><span class="ui grey text text-normal">{{ entry.owner }} /</span> {{ entry.repository }}{% for item in entry.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>
                    <div class="meta">{{ entry.description }}{% if entry.website %} &middot; <a href="{{ entry.website }}" target="_blank">{{ entry.website }}</a>{% endif %}</div>
                    <div class="extra">Created at: {{ entry.created_at }}</div>
                    {%- if entry.details -%}
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Research Projects</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.projects.research -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.name }}{% for item in entry.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>
                    <div class="meta">{{ entry.institution }}</div>
                    <div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
                    {%- if entry.details -%}
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Competition Projects</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.projects.competition -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.name }}{% for item in entry.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>
                    <div class="meta">{{ entry.competition }} &middot; <a href="{{ '/' | relative_url }}#{{ entry.award.id }}">{{ entry.award.prize }}</a></div>
                    <div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
                    {%- if entry.details -%}
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
    </div>
    <h2 class="ui teal sub-section header">Undergraduate Projects</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.projects.undergraduate -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.name }}{% for item in entry.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>
                    <div class="meta">{{ entry.institution }}</div>
                    <div class="extra">{{ entry.time }} &middot; {{ entry.location }}</div>
                    {%- if entry.details -%}
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for detail in entry.details %}<div class="item">{% if detail.title %}<b>{{ detail.title }}:</b> {% endif %}{{ detail.content }}{% for item in detail.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>{% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="ui teal sub-section header">Coursework Projects</h2>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.education -%}
            {%- if entry.coursework_projects -%}
                <div id="{{ entry.id }}-coursework-projects" class="item">
                    <div class="content">
                        <div class="header">{{ entry.institution }}</div>
                        <div class="meta">{{ entry.coursework_projects.size }} coursework projects</div>
                        <div class="description">
                            <div class="ui bulleted list">
                                {% for coursework_project in entry.coursework_projects %}<div class="item"><b>{{ coursework_project.time }}: </b>{{ coursework_project.name }}</div>{% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
</div>