<div id="publications" class="ui cv-section basic vertical segment">
    <h1 class="ui dividing header"><i class="file alternate icon"></i>Publications</h1>
    <div class="ui relaxed items">
        {%- for entry in site.data.cv.publications -%}
            <div id="{{ entry.id }}" class="item">
                <div class="content">
                    <div class="header">{{ entry.title }}{% if entry.label %} &middot; <span class="ui grey text text-normal">{{ entry.label }}</span>{% endif %}{% for item in entry.links %}<a {% if item.id %}href="{{ '/' | relative_url }}#{{ item.id }}"{% else %}href="{{ item.link }}" target="_blank"{% endif %}{% if item.tooltip %} data-tooltip="{{ item.tooltip }}" data-variation="mini basic" data-position="top center" data-inverted=""{% endif %}><i class="{{ item.icon }} icon"></i></a>{% endfor %}</div>
                    <div class="meta">Authored by: {% for author in entry.authors %}{% unless forloop.first %} &middot; {% endunless %}{{ author }}{% endfor %}</div>
                    {% if entry.details %}<div class="extra">{% for detail in entry.details %}{% unless forloop.first %} &middot; {% endunless %}{{ detail.title }}: {{ detail.content }}{% endfor %}</div>{% endif %}
                    {% if entry.abstract %}<div class="description"><b>Abstract:</b> {{ entry.abstract }}</div>{% endif %}
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>