<div id="status" class="ui cv-status vertical segment">
    <img class="ui centered medium rounded image" src="{{ site.data.cv.status.avatar }}" alt="Avatar">
    <h1 class="ui header">
        <div class="content">
            {{ site.data.cv.status.first_name }} {{ site.data.cv.status.family_name | upcase }}
            <div class="sub header">{{ site.data.cv.status.position }}</div>
        </div>
    </h1>
    <div><i class="map marked alternate icon"></i>{{ site.data.cv.status.location }}</div>
    <div><i class="laptop code icon"></i>{{ site.data.cv.status.specialty }}</div>
</div>
<div class="ui cv-status vertical segment">
    <div><i class="industry icon"></i>{{ site.data.cv.status.employer }}</div>
    <div><i class="university icon"></i>{{ site.data.cv.status.education }}</div>
</div>
<div class="ui cv-status vertical segment">
    <div><i class="paper plane icon"></i>{{ site.data.cv.status.email }}</div>
</div>
<div class="ui cv-status vertical segment last">
    <div><i id="version-icon" class="sync alternate icon"></i>Updated <span id="version">? time ago</span></div>
</div>