<div id="summary" class="ui cv-section basic vertical segment">
    <h1 class="ui dividing header"><i class="stream icon"></i>Summary</h1>
    <h2 class="ui header">Brief Biography</h2>
    <div class="ui bulleted list">
        {% for entry in site.data.cv.summary.brief_biography %}<div class="item">{{ entry }}</div>{% endfor %}
    </div>
    <h2 class="ui header">Highlights</h2>
    <div class="ui bulleted list">
        {% for entry in site.data.cv.summary.highlights %}<div class="item">{{ entry }}</div>{% endfor %}
    </div>
</div>